#This launches a service to keep secondary IP addresses online for systemd-based RHEL distros hosted with AWS EC2

[Unit]
Description=Assigning Secondary IPs to NIC
Documentation=http://www.joshwieder.net/2015/08/assigning-multiple-ip-addresses-to.html
After=network.target remote-fs.target network-online.target

[Service]
Type=oneshot
User=root
RemainAfterExit=yes

ExecStart=/usr/bin/aliaser start
ExecReload=/usr/bin/aliaser reload
ExecStop=/usr/bin/aliaser stop

[Install]
WantedBy=multi-user.target

